
.data-header{
    text-shadow: 0px 1px 1px var(--primary, 0.6);
}
.no-margin {
  margin-left: 0 !important;
  /* margin-right: 0.8rem; */
}
.saleSumText{
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .footer-class{
    margin-top: 31vh !important;
  }
}