
@use "../custom" as *;
@use "../component/mixins" as *;

.border-right {
    height: 100vh;
    border-right: 2px solid $primary;
}
.span-button{
    border: 0.1px solid $black;
    border-radius: 5px;
    padding: 5px 0px;
}
.span-button:hover, .span-button.active{
    background-color: $primary;
    color: $white;
    border-color: $white;
    transition: .8s;

    img.flip-image{
        transform: rotateY(180deg);
    }
}
// @include media-breakpoint-down(md){
//     .text-size{
//         font-size: 0.8rem;

//     }
// }