<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header align-items-right justify-content-end">
    <h5 class="offcanvas-title ms-auto" id="offcanvasWithBothOptionsLabel">Edit details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p class="text-center">section B | batch A</p>
    <div class="buttons">
    <span class="text-center d-flex align-items-center span-button text-size" type="button">
      <img class="flip-image flex-shrink-1" src="https://i.ibb.co/N4qbNH8/chick-img.png" width="25" height="25" alt="chicks"> chickens bought
    </span>
    </div>
    <div class="buttons mt-3">
    <span class="text-center d-flex align-items-center span-button text-size" type="button">
      <img class="flip-image flex-shrink-1 flips me-1" src="https://i.ibb.co/KcrBNThw/chick-fed-removebg-preview.png" width="25" height="25" alt="feeds"> feeds
    </span>
    </div>

    <div class="buttons mt-3">
    <span class="text-center d-flex align-items-center span-button text-size" type="button">
      <img class="flip-image flex-shrink-1 flips me-1" src="https://i.ibb.co/B2qXVTN2/deadchick1.png" width="25" height="25" alt="mortality"> mortality
    </span>
    </div>

    <div class="buttons mt-3">
    <span class="text-center d-flex span-button text-size" type="button">
      <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/3mpT5psw/vaccines.png" width="25" height="25" alt="vaccines"> vaccines
    </span>
    </div>

    <div class="buttons mt-3">
    <span class="text-center d-flex span-button text-size" type="button">
      <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/HfXYvsNt/money-removebg-preview.png" width="25" height="25" alt="sales"> sales
    </span>
    </div>

    <div class="buttons mt-3">
    <span class="text-center d-flex span-button text-size" type="button">
      <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/HfXYvsNt/money-removebg-preview.png" width="25" height="25" alt="sales"> summary
    </span>
    </div>
  </div>
</div>