<div class="inputs d-flex align-items-center justify-content-center">
  <form class="row g-3 needs-validation justify-content-md-center" novalidate>
    <div class="col-md-6">
      <h4 class="pt-5">Summary of every records</h4>
    </div>

    <div class="col-md-6"></div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Total number of sales:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">This is the total number of chickens sold.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Total bags of feed consumed:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">This is the total number of feeds bought.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">capital:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">Amount spent in total.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Revenue:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">Total amount of income.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Total mortality:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">All deaths recorded from begining till current.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Net profit:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">Total profits after subtracting all expenses.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Start date:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="date" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="dd/mm/yyyy" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">Date of purchase</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Date:</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <span>
              <input type="date" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="dd/mm/yyyy" disabled>
            </span>
          </h6>
          <p class="card-text pt-3">Current date</p>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>

  <!-- <div class="col-md-12 mb-sm-3">
  <button class="btn btn-primary" type="submit">Submit data</button>
  </div> -->
  </form>
</div>