<div class="col-md-10 offset-md-2 padding-small-screen">
  <div class="mx-auto" style="max-width: 800px;">
    <div class="small-screen-display d-flex align-items-center justify-content-between">
      <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img src="assets/images/sidebar-icon.svg" alt="sidebar icon" class="sidebar-fixed-icon">
      </span>
      <h3 class="flex-grow-1 text-center text-dark mb-0">Admin & User database</h3>
    </div>
    <p class="text-center text-muted">view your poultry farm records only.</p>
    <app-offcanva></app-offcanva>
    <app-input></app-input>
  </div>
</div>