
@use "../custom" as *;
// @use "../component/mixins" as *;
// custom-bootstrap
// @use "../custom-bootstrap" as *;
// bootstrap scss 
@use "bootstrap/scss/functions" as *;
@use "bootstrap/scss/variables" as *;
@use "bootstrap/scss/mixins" as *;
@use "bootstrap/scss/bootstrap" as *;


.bg-primary-reduced{
    background-color: $primary-reduced;
}
.small-screen-display {
    display: none;
}
.sidebar-fixed-icon{
    display: none;
}

.border-right {
    height: 100vh;
    border-right: 2px solid $primary;
}
.span-button{
    border: 0.1px solid $black;
    border-radius: 5px;
    // padding: 5px 0px;
    font-weight: 600;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    img.flips{
        transform: scale(1.3);
    }
}
.span-button:hover, .span-button.active{
    background-color: $primary;
    font-weight: 800;
    color: $white;
    border-color: $white;
    transition: .8s;

    img.flip-image{
        transform: rotateY(180deg);
    }
}
.padding-small-screen {
    padding-top: 70px;
}
// .sidebar-fixed {
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   overflow-y: auto;
//   background-color: #fff; // or use your background color
//   z-index: 1000;
//   padding-left: 1rem;
//   padding-right: 1rem;
// }

@include media-breakpoint-down(md){
    .display-0 {
        display: none;
        visibility: hidden;
    }
    // .padding-sm-screen{
    //     padding-top: 70px;
    // }
    .small-screen-display {
        display: block;
    }
    .sidebar-fixed-icon {
        display: block;
    }
}
@media (max-width: 800px) {
    .span-button {
        font-weight: 100;
        gap: 0.4rem;
        padding: 0.5rem .5rem;
        font-size: 14px;
    }
    .span-button:hover, .span-button.active{
        font-weight: 500;
    }
}