<section class="editdatabase pt-5 background-dark no-overflow">
  <div class="container-fluid p-0">
    <div class="row">
      <app-side-panel-lg></app-side-panel-lg>
      <!-- //////// body content ////////// -->
      <div class="col-md-10 offset-md-2 padding-small-screen">
        <div class="mx-auto" style="max-width: 800px;">
          <div class="d-flex align-items-center justify-content-between">
            <span class="small-screen-display" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
              <img src="../../assets/images/sidebar-icon.svg" alt="sidebar icon" class="sidebar-fixed-icon">
            </span>
            <h3 class="flex-grow-1 text-center text-dark mb-0 padding-small-screens">{{title}}</h3>
          </div>
          <p class="text-center text-muted">{{subtitle}}</p>
          <!-- //////// off canvas for small screens  -->
          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header align-items-right justify-content-end">
              <h5 class="offcanvas-title ms-auto" id="offcanvasWithBothOptionsLabel">Edit details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <p class="text-center">Batch | {{formTitle}}</p>
              <div class="buttons" (click)="selectedForm('Add purchase')">
                <span class="text-center d-flex align-items-center span-button text-size" type="button">
                  <img class="flip-image flex-shrink-1" src="https://i.ibb.co/N4qbNH8/chick-img.png" width="25" height="25" alt="chicks"> chickens bought
                </span>
              </div>
              <div class="buttons mt-3" (click)="selectedForm('Add feeds')">
                <span class="text-center d-flex align-items-center span-button text-size" type="button">
                  <img class="flip-image flex-shrink-1 flips me-1" src="https://i.ibb.co/KcrBNThw/chick-fed-removebg-preview.png" width="25" height="25" alt="feeds"> feeds
                </span>
              </div>

              <div class="buttons mt-3" (click)="selectedForm('Add mortality')">
                <span class="text-center d-flex align-items-center span-button text-size" type="button">
                  <img class="flip-image flex-shrink-1 flips me-1" src="https://i.ibb.co/B2qXVTN2/deadchick1.png" width="25" height="25" alt="mortality"> mortality
                </span>
              </div>

              <div class="buttons mt-3" (click)="selectedForm('Add vaccines')">
                <span class="text-center d-flex span-button text-size" type="button">
                  <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/3mpT5psw/vaccines.png" width="25" height="25" alt="vaccines"> vaccines
                </span>
              </div>

              <div class="buttons mt-3" (click)="selectedForm('Record sales')">
                <span class="text-center d-flex span-button text-size" type="button">
                  <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/HfXYvsNt/money-removebg-preview.png" width="25" height="25" alt="sales"> sales
                </span>
              </div>

              <div class="buttons mt-3">
                <span class="text-center d-flex span-button text-size" type="button">
                  <img class="flip-image flex-shrink-0 flips me-1" src="https://i.ibb.co/HfXYvsNt/money-removebg-preview.png" width="25" height="25" alt="sales"> summary
                </span>
              </div>
            </div>
          </div>
          <!-- //////// end of off canvas for small screens  -->
          <!-- <div class="inputs d-flex align-items-center justify-content-center">
            <form class="row g-3 needs-validation justify-content-md-center" novalidate>
              <div class="col-md-6">
                <h4 class="pt-5">Summary of every records</h4>
              </div>

              <div class="col-md-6"></div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Total number of sales:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">This is the total number of chickens sold.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Total bags of feed consumed:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">This is the total number of feeds bought.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">capital:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">Amount spent in total.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Revenue:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">Total amount of income.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Total mortality:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="0" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">All deaths recorded from begining till current.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Net profit:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="number" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="NGN 0.00" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">Total profits after subtracting all expenses.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Start date:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="date" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="dd/mm/yyyy" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">Date of purchase</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Date:</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      <span>
                        <input type="date" class="form-control big-font mt-3 py-2" id="chicksBought" placeholder="dd/mm/yyyy" disabled>
                      </span>
                    </h6>
                    <p class="card-text pt-3">Current date</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
            </form>
          </div> -->
          <div class="inputs d-flex align-items-center justify-content-center">
             <!-- switch form based on formTitle  -->
              <ng-container [ngSwitch]="formTitle">

                <!-- -- add purchase form --  -->
              <ng-container *ngSwitchCase="'Add purchase'">
              <div *ngIf="!currentPurchase; else showPurchaseRecords">
                <form class="row g-3 needs-validation d-flex justify-content-md-center" novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
                  <div class="col-md-5">
                    <h4 class="pt-5">{{formTitle}}</h4>
                    <div *ngIf="successMessage" class="alert alert-success mt-2">
                      {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
                      {{ errorMessage }}
                    </div>
                  </div>
                  <div class="col-md-5">
                    <!-- empty column just to keep spacing symmetrical (optional) -->
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom01" class="form-label">Quantity</label>
                    <input
                     type="number"
                     class="form-control"
                     placeholder="100"
                     id="quantity"
                     name="quantity"
                     [(ngModel)]="purchaseUser.quantity"
                     required
                     min="1"
                     #quantity="ngModel"
                     [ngClass]="{'is-invalid': quantity.invalid && quantity.touched, 'is-valid': quantity.valid}"
                    />
                    <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="invalid-feedback">
                      <small *ngIf="quantity.errors?.['required']">Quantity is required</small>
                      <small *ngIf="quantity.errors?.['min']">Must be at least 1</small>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Price: NGN</label>
                    <input
                     type="number"
                     class="form-control"
                     id="price"
                     name="price"
                     placeholder="100000"
                     [(ngModel)]="purchaseUser.price"
                     #price="ngModel"
                     required
                     min="10"
                     [ngClass]="{'is-invalid': price.invalid && price.touched, 'is-valid': price.valid}"
                    />
                    <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
                      <small *ngIf="price.errors?.['required']">Price is required</small>
                      <small *ngIf="price.errors?.['min']">Must be greater than 10 naira</small>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Batch</label>
                    <input
                     type="text"
                     class="form-control"
                     id="batchId"
                     value="Name of batch..."
                     placeholder="ID of batch..."
                     name="batchId"
                     #batchId="ngModel"
                     [(ngModel)]="purchaseUser.batchId"
                     readonly
                    />
                  </div>
                  <!-- <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">Amount per chick</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="NGN 0.00">
                  </div> -->
                  <div class="col-md-5"></div>
                  <div class="col-md-10">
                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || isLoading">
                      <ng-container *ngIf="!isLoading; else submitform">Submit form</ng-container>
                      <ng-template #submitform>
                        <span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>
                        Processing...
                      </ng-template>
                    </button>
                  </div>
                </form>
              </div>
              <ng-template #showPurchaseRecords>
                <div class="col-md-10">
                  <p class="pt-5"><i><strong>Purchase record already taken for this batch</strong></i></p>
                  <div class="card">
                    <div class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Quantity</th>
                          <th>Price: NGN</th>
                          <th>Price Per Chick</th>
                          <th>Date of Purchase</th>
                          <th>Batch Id</th>
                          <th>Batch Name</th>
                          <th>Batch Start Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let purchases of currentPurchase; let i = index">
                          <th scope="row">{{i + 1}}</th>
                          <td>{{purchases.quantity}}</td>
                          <td>{{purchases.price | number}}</td>
                          <td>{{purchases.pricePerChick | number: '1.0-2'}}</td>
                          <td>{{purchases.dateOfPurchaseFormatted}}</td>
                          <td>{{ purchases.batchId?._id | slice:0:6 }}</td>
                          <td>{{ purchases.batchId?.name }}</td>
                          <td>{{ purchases.batchId?.startDate | date:'mediumDate' }}</td>
                        </tr>
                      </tbody>
                    </div>
                  </div>
                </div>
              </ng-template>
              </ng-container>
                <!-- -- end of add purchase form --  -->

                <!-- -- add feeds form --  -->
                <form *ngSwitchCase="'Add feeds'" class="row g-3 needs-validation d-flex justify-content-md-center" novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
                  <div class="col-md-5">
                    <h4 class="pt-5">{{formTitle}}</h4>
                    <div *ngIf="successMessage" class="alert alert-success mt-2">{{successMessage}}</div>
                    <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{errorMessage}}</div>
                  </div>
                  <div class="col-md-5">
                    <!-- empty column just to keep spacing symmetrical (optional) -->
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom01" class="form-label">Numbers of feed</label>
                    <input
                     type="number"
                     class="form-control"
                     id="quantity"
                     name="quantity"
                     #quantity="ngModel"
                     [(ngModel)]="feedsUser.quantity"
                     placeholder="5 bags"
                     required
                     min="0.5"
                     [ngClass]="{'is-invalid': quantity.invalid && quantity.touched, 'is-valid': quantity.valid}"
                    />
                    <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="invalid-feedback">
                      <small *ngIf="quantity.errors?.['required']">Feed is required</small>
                      <small *ngIf="quantity.errors?.['min']">Must be at least 1 bags or more</small>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Price NGN</label>
                    <input
                     type="number"
                     class="form-control"
                     placeholder="100"
                     name="totalPrice"
                     #totalPrice="ngModel"
                     [(ngModel)]="feedsUser.totalPrice"
                     required
                     min="100"
                     [ngClass]="{'is-invalid': totalPrice.invalid && totalPrice.touched, 'is-valid': totalPrice.valid}"
                    />
                    <div *ngIf="totalPrice.invalid && (totalPrice.dirty || totalPrice.touched)" class="invalid-feedback">
                      <small *ngIf="totalPrice.errors?.['required']">Total price of feed bought right now is required</small>
                      <small *ngIf="totalPrice.errors?.['min']">Price must at least be at the range starting from 100 naira</small>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom03" class="form-label">Batch</label>
                    <input
                     type="text"
                     class="form-control"
                     name="batchId"
                     id="batchId"
                     #batchId="ngModel"
                     [(ngModel)]="feedsUser.batchId"
                     placeholder="ID of Batch..."
                     readonly
                    />
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom04" class="form-label">PurchaseId</label>
                    <input
                     type="text"
                     class="form-control"
                     name="PurchaseId"
                     id="purchaseId"
                     #purchaseId="ngModel"
                     [(ngModel)]="feedsUser.purchaseId"
                     placeholder="ID of Purchase..."
                     readonly
                    />
                  </div>
                  <!-- <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">Amount per bag of feed</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="NGN 0.00">
                  </div> -->
                  <div class="col-md-5"></div>
                  <div class="col-md-10">
                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || isLoading">
                      <ng-container *ngIf="!isLoading; else submitForm1">Submit form</ng-container>
                      <ng-template #submitForm1>
                        <span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>
                        Processing...
                      </ng-template>
                    </button>
                  </div>
                </form>
                <!-- -- end of form --  -->
                <!-- -- add mortality form --  -->
                <form *ngSwitchCase="'Add mortality'" class="row g-3 needs-validation d-flex justify-content-md-center" novalidate>
                  <div class="col-md-5">
                    <h4 class="pt-5">{{formTitle}}</h4>
                  </div>
                  <div class="col-md-5">
                    <!-- empty column just to keep spacing symmetrical (optional) -->
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom01" class="form-label">Numbers of mortality</label>
                    <input type="number" class="form-control" id="validationCustom01" value="" placeholder="0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">How many days old?</label>
                    <input type="number" class="form-control" id="validationCustom02" value="" placeholder="0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <!-- <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Batch</label>
                    <input type="text" class="form-control" id="validationCustom02" value="jesus-0" placeholder="jesus-0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div> -->
                  <!-- <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">Amount per chick</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="NGN 0.00">
                  </div> -->
                  <div class="col-md-5"></div>
                  <div class="col-md-10">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
                <!-- -- end of add mortality form --  -->
                <!-- -- add vaccines form --  -->
                <form *ngSwitchCase="'Add vaccines'" class="row g-3 needs-validation d-flex justify-content-md-center" novalidate>
                  <div class="col-md-5">
                    <h4 class="pt-5">{{formTitle}}</h4>
                  </div>
                  <div class="col-md-5">
                    <!-- empty column just to keep spacing symmetrical (optional) -->
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom01" class="form-label">Vaccine name</label>
                    <input type="text" class="form-control" id="validationCustom01" value="" placeholder="lasota" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">price per vaccine NGN</label>
                    <input type="number" class="form-control" id="validationCustom02" value="" placeholder="0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="validationCustom02" value="" placeholder="2" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">PurchaseId</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="1234567...">
                  </div>
                  <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">Batch</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="batch A">
                  </div>
                  <div class="col-md-5"></div>
                  <div class="col-md-10">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
                <!-- -- end of add vaccines form --  -->
                <!-- -- add sales form --  -->
                <form *ngSwitchCase="'Record sales'" class="row g-3 needs-validation d-flex justify-content-md-center" novalidate>
                  <div class="col-md-5">
                    <h4 class="pt-5">{{formTitle}}</h4>
                  </div>
                  <div class="col-md-5">
                    <!-- empty column just to keep spacing symmetrical (optional) -->
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom01" class="form-label">Quantity sold</label>
                    <input type="number" class="form-control" id="validationCustom01" value="" placeholder="0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Total price: NGN</label>
                    <input type="number" class="form-control" id="validationCustom02" value="" placeholder="0.00" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label for="validationCustom02" class="form-label">Batch</label>
                    <input type="text" class="form-control" id="validationCustom02" value="jesus-0" placeholder="jesus-0" required>
                    <div class="invalid-feedback">
                      Bad credentials!
                    </div>
                  </div>
                  <!-- <div class="col-md-5">
                    <label for="disabledTextInput" class="form-label">PurchaseId</label>
                    <input type="text" id="disabledTextInput" class="form-control" disabled value="">
                  </div> -->
                  <div class="col-md-5"></div>
                  <div class="col-md-10">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>
                <!-- -- end of add vaccines form --  -->
              </ng-container>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <h2 class="pt-5 text-center">hello from home</h2> -->