.navbar-brand{
    font-weight: 900;
}
.nav-colors {
    .nav-link {
        color: var(--white) !important;
        font-size: 1.1rem;
        font-weight: 600;
        &:hover {
            color: var(--black) !important;
        }
    }
}
.navbar-toggler{
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 0.3rem;
    padding-bottom: 0;
}